<p-dataTable [value]="podcasts" selectionMode="single" [rows]="1" [responsive]="true">
	<p-header>CRUD for Podcasts</p-header>
	<p-column field="title" header="Title" [sortable]="true"></p-column>
	<p-column field="hostedBy" header="Hosted By" [sortable]="true"></p-column>
	<p-column field="establishedYear" header="First Aired" [sortable]="true"></p-column>
	<p-column field="producedBy" header="Produced By" [sortable]="true"></p-column>
    <p-column field="category" header="Category" [sortable]="true"></p-column>
</p-dataTable>